@import '@unocss/reset/tailwind.css';

#__nuxt {
    --at-apply: "flex min-h-screen flex-col justify-start";
}

body{
	--at-apply: "flex flex-col relative font-Onest whitespace-pre-line bg-white [--width-content:1320px] [--width-content-margin:12px] sm:[--width-content-margin:20px] 1200px:[--width-content-margin:32px]";
}

.grid-container {
    --at-apply: "grid";
	grid-template-columns:
		[full-start] minmax(var(--width-content-margin), 1fr)
		[main-start] minmax(0, var(--width-content))
		[main-end] minmax(var(--width-content-margin), 1fr) [full-end];		
}

.grid-container > * {
	--at-apply: "col-[main]";
}

.wrapper {
	--at-apply: "mx-auto w-[calc(100%-var(--width-content-margin)*2)] max-w-[--width-content]";
}

.container {
	--at-apply:"max-w-[--width-content]";
}

.gradient-default-img{
	background: radial-gradient(98.77% 98.77% at 50.57% 50%, rgb(245, 246, 242) 0%, rgb(227, 228, 224) 100%);
}